<!DOCTYPE html>
<html>
<head>
  <title>Power of Purple</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div style="margin-left:10%;padding:1px 16px;height:1000px;">
  <h2>Hallo Jongens</h2>
  <h3>Dit is dan een tweede opzet</h3>
  <p>Hele avond bezig geweest met dit heerlijke menuutje, kan er nu alles in aanpassen naar wens.</p>
  <p>ladieladiela</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Home Page</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
</div>

</body>
</html>
